
* {
  box-sizing: border-box;
}

.display-block {
  display: block;
}

body {
  font-family: Helvetica, sans-serif;
}

body,
input {
  font-size: 16px;
}

//

.ma {
  margin: auto;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

//

.w500 {
  width: 500px;
}

.w100p {
  width: 100%;
}

//

.tc-gray {
  color: #cfcfcf;
}

.tc-red {
  color: red;
}

.ts-small {
  font-size: 14px;
}

//

.p20 {
  padding: 20px;
}

.p15 {
  padding: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

//

input {
  border: 1px solid #cfcfcf;
  box-shadow: none;
  border-radius: 3px;
}
